
@media screen and (max-width: 767px) {
    .banner-wrapper {
        height: 200px;
    }


    nav {
        flex-direction: column;
        width: 95%;
        margin-top: -20px;
        gap: 10px;
    }
    
    .nav-name {
        border: none;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        width: 100%;
    }

    .top-info {
        grid-template-columns: 1fr;
        gap: 30px;
    }


    .grid-layout {
        grid-template-columns: 1fr;
        gap: 20px;
    }


    .cert {
        grid-template-columns: 1fr;
    }
    
    .cert-item-even {
        padding-left: 0;
    }
    
    .cert-item-even::before {
        display: none;
    }


    .projects-grid {
        flex-direction: column;
    }
    
    .project-card {
        width: 100%;
    }
}
