
@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav {
        width: 95%;
    }


    .grid-layout {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


    .cert {
        grid-template-columns: 1fr;
    }
    
    .cert-item-even {
        padding-left: 0;
    }
    
    .cert-item-even::before {
        display: none;
    }


    .projects-grid {
        flex-direction: column;
    }
    
    .project-card {
        width: 100%;
    }
}
